@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    color: #97a1c1;
}

html, body {
    margin: 0;
    padding: 0;
} 

.main-header{
    background-color: #2a2d34;
    position: sticky;
}

.logo {
    
    position: relative;
    margin-left: auto;
    margin-right: auto;

    width: 25%;
    height: auto;
    opacity: 50%;
}

.logo:hover {
    opacity: 100%;
}

nav {
    text-align: center;
    
    font-size: 1.0em;
    font-weight: lighter;
    
}

 

 .user-acc-options {
     float: right;
     display: block;
     text-decoration: none;
     padding: auto;
     margin: 0 5%;
 }

 

 .flex-container {
    
     display: flex;
     
     
 }
 
 body {
     color: black;
 }

 footer {
    
    background-color: #2a2d34;
     
    margin: 0;
    padding: 0.75em;
 }

 footer a {
     float: right;
 }